@model Vidly.ViewModels.NewCustomerViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

@using (Html.BeginForm("Create", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Customer.Name)
        @Html.TextBoxFor(x => x.Customer.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="Birthdate">Date of Birth</label>
        @Html.TextBoxFor(x => x.Customer.Birthdate, new { @class = "form-control" })
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter) Subscribe to Newsletter?
        </label>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Customer.MembershipTypeId)
        @Html.DropDownListFor(x => x.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "MembershipTypeName"), "<Select Membership Type>", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

}

